/* Search Form Start */
#form_quicksearch { width: 300px; margin: 10px; line-height: 18px; font-weight: bold; text-align: left; float: left;}
#form_quicksearch form { margin: 0; padding: 0; width: 100%; float: left;}
#form_quicksearch form fieldset { float: left; width: 100%; margin: 0 0 0 0; padding: 1px 0 0 0; }
#form_quicksearch form fieldset label { float: left; width: 110px; margin: 0 0 15px 0; padding: 0; }
#form_quicksearch form fieldset select { float: left; width:188px; margin:0 0 15px 0; padding: 0; background-color: white; border: 1px solid gray;}
#form_quicksearch form fieldset input { margin-top: 0px;}
#form_quicksearch form fieldset input[type="checkbox"] { margin-top:3px; }
#form_quicksearch form fieldset.radio { width: 95px; float: right;}
#form_quicksearch form fieldset.radio label { width: auto;}
#form_quicksearch form fieldset.radio input { margin: 2px 5px 0 10px; }
#form_quicksearch form fieldset.button input { float: right; width: 90px; margin: 0 0 0 10px; }



#form_search { float: right; width: 320px; margin: 0 0 10px 10px;}
#form_search form { margin: 10px; padding: 0 0 0 0; width: 300px; float: left;}
#form_search form h2 { float: left; margin: 0 0 5px 0; width: 100%;}
#form_search form p { float: left; }
#form_search form fieldset { float: left; border: 0; padding: 0 0 0 0; margin: 0 0 0 0; width: 100%; }
#form_search form fieldset label { float: left; padding: 0; margin: 0 0 2px 1px;}
#form_search form fieldset select { float: left; width:100%; margin:0 0 8px 0; color: black; background-color: white; border: 1px solid gray; padding: 1px;}
#form_search form fieldset input { float: left; width: 295px; margin:0 0 8px 0; }
#form_search form fieldset input.form_search_textbox { float: left; width: 295px; margin:0 0 8px 0; border: 1px solid gray; padding: 1px;}
#form_search form fieldset.radio { width: 95px; float: left; margin: 0 0 5px 0;}
#form_search form fieldset.radio label { width: auto;}
#form_search form fieldset.radio input { margin: 2px 5px 0 10px;  width: auto;}
#form_search form fieldset.button{ margin: 0 0 0 4px; }
#form_search form fieldset.button input { float: left; width: 95px; margin: 10px 2px 0 0;}
/* Search Form End */



/*Register forms start*/
#form_register { float: left; width: 940px; margin: 0 0 10px 0; padding: 0px; line-height: 18px; font-size: 0.9em; font-weight: bold; text-align: left;}
#form_register form { margin: 0 0 0 0; padding: 0 0 0 0; min-width: 100%; max-width: 100%; width: 100%;}
#form_register form .col{width: 460px;}
#form_register form fieldset { float: left; border: 0; padding: 0 0 0 0; margin: 0 0 0 0; width: 100%; }
#form_register form fieldset label { float: left; padding: 0; margin: 0 0 2px 1px; width: 200px; }
#form_register form fieldset input, #form_register form fieldset select {float: right;width:230px;margin:0 0 5px 0;color: black;background-color: #EFEFEF;border: 1px solid #B6B6B6;padding: 1px;}
#form_register form fieldset select{ width:234px;}
#form_register form fieldset.button input { float: left; width: 106px; margin: 15px 0 0 0; }
#form_register form fieldset.radio input { float: left; width: auto; margin: 2px 5px 0 0; }
#form_register form fieldset.radio label { float: left; width: auto; width: 200px; margin-right: 20px;}
#form_register form fieldset.radio label.radio { width: auto;  }
#form_register form fieldset.checkbox input { float: left; width: auto; margin: 5px 0 0 25px; }
#form_register form .checkboxes fieldset { float: left; padding: 0; width: 145px; margin: 0 10px 0 0;}
#form_register form .checkboxes fieldset label { float: left; padding: 0; width: auto; margin: 0 0 5px 5px;}
#form_register form .checkboxes fieldset input { float: left; width: auto; margin:2px 0 5px 0; border: 0; }
#form_register form fieldset.block input { float: right; width: auto; margin:2px 241px 5px 0; border: 0;}
#form_register form fieldset textarea{ float: left; width: 450px; background-color: #E1E1E1; border: 1px solid #B6B6B6; }
#form_register form #register-footer{ width: 100%; float: left;}
#form_register form #register-footer p{ margin: 10px 0 10px 0; text-align: center;}
#form_register form #register-footer input{ float: none; display: block; margin: 0 auto 0 auto; width: 80px; }
#form_register form fieldset input:focus, #form_register form fieldset textarea:focus, #form_register form fieldset select:focus{ background: #FFFFFF;}
/*Register forms end*/



/* Contact us forms start */
.form_mandatory {color: Red;}
.form_contactus_message  { margin: 0 0 2px 0; padding: 0 0 0 0; text-align: justify;}
.form_contactus_hint { font-size: 11px; font-weight: normal; padding: 0 0 0 0; margin: 0 0 5px 0; text-align: left;}
.form_error { font-size: 10px; font-weight: bold; color: Red;}
.form_errors li {  line-height: 1em; padding: 0 0 0 0; margin: 0 0 0 0; font-size: 10px; font-weight: bold; color: Red; }
#ContactCon3{ width: 370px; margin:0px 0px 10px 10px; float: left; padding: 10px;}
#ContactCon3 h4{ margin: 0px 0px 10px 0px; line-height: 120%;}
#form_contactus_contactrequest {width: 100%;}
#form_contactus_contactrequest form { margin: 0 0 0 0; padding: 0 0 0 0; min-width: 370px; max-width: 370px; width: 370px;}
#form_contactus_contactrequest form fieldset { border: 0; padding: 1px 0 0 0; margin: 0 0 0 0;}
#form_contactus_contactrequest form fieldset input, #form_contactus_contactrequest form fieldset textarea, #form_contactus_contactrequest form fieldset select { width:230px; margin:3px 0 0 10px; padding: 0px; color: black; background-color: #EFEFEF; border: 1px solid #B6B6B6;}
#form_contactus_contactrequest form fieldset input:focus, #form_contactus_contactrequest form fieldset textarea:focus {background-color: #F3F4F0;}
#form_contactus_contactrequest form input[type="submit"] { width: 100px; height:auto; margin-left: 125px; margin-top:10px; }
#form_contactus_contactrequest form fieldset label { display: block; float: left; width: 115px; padding: 0; margin: 5px 0 0; text-align: left; }
#form_contactus_contactrequest form fieldset input[type="radio"] { border: 0; background-color: transparent; width:auto; display: inline;}
#form_contactus_contactrequest form fieldset.fieldsetradio { display: inline;}
#form_contactus_contactrequest form fieldset.fieldsetradio label { display: inline; width: auto; margin-top: 2px;}
.fieldsetradiomargin { margin-left: 125px;}
/* Contact us forms end */