ul.tabsearch {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #ccc;
}

/* Float the list items side by side */
ul.tabsearch li {float: left;}

/* Style the links inside the list items */
ul.tabsearch li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }

/* Change background color of links on hover */
ul.tabsearch li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tabsearch li a:focus, .tabactive {
    background-color:#c9db70;
}

ul.tabsearch li .tabready {
    background-color: #d9e699;
}

/* Style the tab content */
.tabsearch-content {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    background-color:#e8f0c2;
}

/* Search button */
.btn-fill-search {
  color: #fff;
  border: solid 2px #D7405D;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #D7405D; }

.btn-fill-search:hover, .btn-fill-search:focus {
  color: #fff;
  background-color: #6A7A1E;
  border-color: #6A7A1E; }

.btn-fill-green {
  color: #fff;
  border: solid 2px #6A7A1E;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #6A7A1E; }

.btn-fill-green:hover, .btn-fill-green:focus {
  color: #fff;
  background-color: #D7405D;
  border-color: #D7405D; }