input[required] {
  background-image: radial-gradient(red 15%, transparent 16%), radial-gradient(red 15%, transparent 16%);
  background-size: 2em 1em;
  background-position: top right;
  background-repeat: no-repeat
}
select[required]  {
  background-image: radial-gradient(red 15%, transparent 16%), radial-gradient(red 15%, transparent 16%);
  background-size: 2em 1em;
  background-position: top right;
  background-repeat: no-repeat
}